html, body, th {
    color: white;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

td {
    border-right: 3px solid $body-bg;
    padding: 5px;
}

.nav-link:hover {
    background-color: orange;
}

.tableTests {
    color: white;
    margin-top: 2vh;
}

.formTests {
    color: white;
    margin-top: 2vh;
}

.testsAddButton {
    margin-bottom: 2vh;
}